<head>

  <link href="dashboard.component.scss">
</head>
  <div class="navbar">

    <nav>
      <div class="logo">
        <h1>SEO FASHION</h1>
      </div>
      <ul class="list-items">
        <li><a >HOME</a></li>
        <li><a >COLLECTION</a></li>
        <li><a >CONTACT US</a></li>
        <li><a >ABOUT US</a></li>
      </ul>
      <!-- <div class="nav-btns">
        <a href="" class="btn-nav-i"><i class="fas fa-cart-plus"></i></a>
        <a href="" class="btn-nav-i"><i class="fas fa-search"></i></a>
      </div> -->
    </nav>
  </div>

  <section>

  <div class="product">
    <picture>
      <img src="../../../assets/8d870ea85f784eb7a540ae8d00c45abd_9366.jpg" alt="">
    </picture>
    <div class="detail">
      <p>
        <b>Product One</b><br>
        <small>New arrival</small>
      </p>
      <samp>$45.00</samp>
    </div>
    <div class="button">
      <p class="star">
        <strong>&star;</strong>
        <strong>&star;</strong>
        <strong>&star;</strong>
        <strong>&star;</strong>
        <strong>&star;</strong>
      </p>
      <a href="#">Add-cart</a>
    </div>
  </div>
  <div class="product">
    <picture>
      <img src="../../../assets/b0cdf3ca-02cb-413f-bf08-8ba9bec84204.jpg" alt="">
    </picture>
    <div class="detail">
      <p>
        <b>Product Two</b><br>
        <small>New arrival</small>
      </p>
      <samp>$45.00</samp>
    </div>
    <div class="button">
      <p class="star">
        <strong>&star;</strong>
        <strong>&star;</strong>
        <strong>&star;</strong>
        <strong>&star;</strong>
        <strong>&star;</strong>
      </p>
      <a href="#">Add-cart</a>
    </div>
  </div>
  <div class="product">
    <picture>
      <img src="../../../assets/Thumbnail-542023W3AC49471_F.jpg" alt="">
    </picture>
    <div class="detail">
      <p>
        <b>Product Three</b><br>
        <small>New arrival</small>
      </p>
      <samp>$45.00</samp>
    </div>
    <div class="button">
      <p class="star">
        <strong>&star;</strong>
        <strong>&star;</strong>
        <strong>&star;</strong>
        <strong>&star;</strong>
        <strong>&star;</strong>
      </p>
      <a href="#">Add-cart</a>
    </div>
  </div>
  <div class="product">
    <picture>
      <img src="../../../assets/Electron-E-Unisex-Shoes.jpg" alt="">
    </picture>
    <div class="detail">
      <p>
        <b>Product Four</b><br>
        <small>New arrival</small>
      </p>
      <samp>$45.00</samp>
    </div>
    <div class="button">
      <p class="star">
        <strong>&star;</strong>
        <strong>&star;</strong>
        <strong>&star;</strong>
        <strong>&star;</strong>
        <strong>&star;</strong>
      </p>
      <a href="#">Add-cart</a>
    </div>
  </div>
  <div class="product">
    <picture>
      <img src="image/watch.png" alt="">
    </picture>
    <div class="detail">
      <p>
        <b>Product Five</b><br>
        <small>New arrival</small>
      </p>
      <samp>$45.00</samp>
    </div>
    <div class="button">
      <p class="star">
        <strong>&star;</strong>
        <strong>&star;</strong>
        <strong>&star;</strong>
        <strong>&star;</strong>
        <strong>&star;</strong>
      </p>
      <a href="#">Add-cart</a>
    </div>
  </div>
  <div class="product">
    <picture>
      <img src="image/delta.png" alt="">
    </picture>
    <div class="detail">
      <p>
        <b>Product Six</b><br>
        <small>New arrival</small>
      </p>
      <samp>$45.00</samp>
    </div>
    <div class="button">
      <p class="star">
        <strong>&star;</strong>
        <strong>&star;</strong>
        <strong>&star;</strong>
        <strong>&star;</strong>
        <strong>&star;</strong>
      </p>
      <a href="#">Add-cart</a>
    </div>
  </div>
  <div class="product">
    <picture>
      <img src="image/image3.png" alt="">
    </picture>
    <div class="detail">
      <p>
        <b>Product Seven</b><br>
        <small>New arrival</small>
      </p>
      <samp>$45.00</samp>
    </div>
    <div class="button">
      <p class="star">
        <strong>&star;</strong>
        <strong>&star;</strong>
        <strong>&star;</strong>
        <strong>&star;</strong>
        <strong>&star;</strong>
      </p>
      <a href="#">Add-cart</a>
    </div>
  </div>
  <div class="product">
    <picture>
      <img src="image/image2.png" alt="">
    </picture>
    <div class="detail">
      <p>
        <b>Product Eight</b><br>
        <small>New arrival</small>
      </p>
      <samp>$45.00</samp>
    </div>
    <div class="button">
      <p class="star">
        <strong>&star;</strong>
        <strong>&star;</strong>
        <strong>&star;</strong>
        <strong>&star;</strong>
        <strong>&star;</strong>
      </p>
      <a href="#">Add-cart</a>
    </div>
  </div>
  <div class="product">
    <picture>
      <img src="image/nokia.png" alt="">
    </picture>
    <div class="detail">
      <p>
        <b>Product Nine</b><br>
        <small>New arrival</small>
      </p>
      <samp>$45.00</samp>
    </div>
    <div class="button">
      <p class="star">
        <strong>&star;</strong>
        <strong>&star;</strong>
        <strong>&star;</strong>
        <strong>&star;</strong>
        <strong>&star;</strong>
      </p>
      <a href="#">Add-cart</a>
    </div>
  </div>
  <div class="product">
    <picture>
      <img src="image/nokia-air.png" alt="">
    </picture>
    <div class="detail">
      <p>
        <b>Product Ten</b><br>
        <small>New arrival</small>
      </p>
      <samp>$45.00</samp>
    </div>
    <div class="button">
      <p class="star">
        <strong>&star;</strong>
        <strong>&star;</strong>
        <strong>&star;</strong>
        <strong>&star;</strong>
        <strong>&star;</strong>
      </p>
      <a href="#">Add-cart</a>
    </div>
  </div>
  <div class="product">
    <picture>
      <img src="image/feature_3.png" alt="">
    </picture>
    <div class="detail">
      <p>
        <b>Product Eleven</b><br>
        <small>New arrival</small>
      </p>
      <samp>$45.00</samp>
    </div>
    <div class="button">
      <p class="star">
        <strong>&star;</strong>
        <strong>&star;</strong>
        <strong>&star;</strong>
        <strong>&star;</strong>
        <strong>&star;</strong>
      </p>
      <a href="#">Add-cart</a>
    </div>
  </div>
  <div class="product">
    <picture>
      <img src="image/one.png" alt="">
    </picture>
    <div class="detail">
      <p>
        <b>Product Twelve</b><br>
        <small>New arrival</small>
      </p>
      <samp>$45.00</samp>
    </div>
    <div class="button">
      <p class="star">
        <strong>&star;</strong>
        <strong>&star;</strong>
        <strong>&star;</strong>
        <strong>&star;</strong>
        <strong>&star;</strong>
      </p>
      <a href="#">Add-cart</a>
    </div>
  </div>
</section>

<script type="text/javascript" src="dashboard/script.js"></script>
