<html>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
  crossorigin="anonymous">

<body>

  <section class="login">

    <div class="login_box">
      <div class="left">
        <div class="top_link"> <img src="../../../assets/logo.png" alt=""></div>
        <div class="contact">
          <form [formGroup]="forgetPasswordForm" action="">
            <h3>Forget Password</h3>
            <div class="form">

              <mat-form-field class="example-full-width" appearance="fill">

                <input matInput placeholder="Enter Email" formControlName="password" required>
                <mat-error *ngIf="forgetPasswordForm.controls?.password?.errors?.required">
                  Password is required
                </mat-error>
              </mat-form-field>

              <!-- <mat-form-field class="example-full-width" appearance="fill">

                <input matInput placeholder=" Confirm Password" formControlName="password" required>
                <mat-error *ngIf="forgetPasswordForm.controls?.password?.errors?.required">
                   Confirm Password is required
                </mat-error>
              </mat-form-field> -->
            </div>
            <button class="submit" >Send reset link</button>
            <button [routerLink]="['/login']" class="signup">Back</button>


          </form>
        </div>
      </div>
      <div class="right">
        <div class="right-text">
          <h2>SEO</h2>
          <h5>Shop your favorite Sneakers here</h5>
        </div>
        <div class="right-inductor"><img src="" alt=""></div>
      </div>
    </div>

  </section>
</body>

</html>
